footer{
  background-color: #64558e;
  height: 10vh;
  border-top: 1px solid red;
  color: lightgrey;
}

footer .footerContainer{
  height: calc(100% - 2px);
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .colonna{
  padding: 0 20px;
}
